#arrow_scrolldown{
	width: 50px; 
	height: 25px; 
	filter: opacity(50%);
}
.app-sidebar{
	position: fixed;
	left: 0;
	top: 0;
	width: 21%;
	height: 100%;
	background-color: #D41F24;
	font-family: "Lato", sans-serif;
	color: #F5F5F5;
	font-size: 1em;
	overflow: auto;
}

.active-sb-group{
	background-color: #AC1818;
}
.app-content{
	padding-left: 23%;
	padding-top: 2%;
	padding-right: 1.5%; 
	padding-bottom: 2%;
}
.sb-group a{
	display: block;
	text-decoration: none;
	color: #ffdbdc;
}
.sb-group a:hover{
	text-decoration: none;
	color: #ffdbdc;
}
.sb-hidden-item{
	position: relative;
	padding-top: 12px;
	padding-bottom: 12px; 
	padding-left: 55px;
	display: block;
	text-decoration: none;
	color: #ffdbdc;
}
.sb-group{
	padding-top: 12px;
	padding-bottom: 12px;
}
.darker{
	background-color: #BA1E21;
}
.sb-head{
	position: relative;
	padding-left: 30px;
	padding-top: 12px;
	padding-bottom: 12px;
}
.sb-head:hover{
	color: #FFC5AF;
	transition: .3s;
	cursor: pointer;
	background-color: #D53F3F;
}
.sb-item{
	position: relative;
	padding-top: 12px;
	padding-bottom: 12px; 
	padding-left: 45px;
}
.icon-indicator{
	position: absolute;
	top: 35%;
	right: 5%;
	color: #ffffff;
	font-size: 1.15rem;
}
.sb-item:hover{
	transition: .3s;
	background-color: #D53F3F;
}

.sb-icon{
	font-size: 17px;
	margin-right: 10px;
}

.sb-bottom{
	margin-top: 13%;
	padding-left: 15px;
	margin-bottom: 2%;
}

.logout-grp{
	margin-top: 15px;
}
.logout-grp a{
	color: #FFB7B7;
}

.logout-grp a:hover{
	transition: .2s;
	color: #F5F5F5;
	text-decoration: none;
}
select option, textarea, select{
	font-family: "Lato", sans-serif;
}


.icon-container{
	padding-top: 60px;
	color: #DB5A5D;
	text-align: center;
}
.extension-icon{
	font-size: 90px !important;
}
.docs-container{
	margin-top: 3%;
}

.file-header{
	margin-bottom: 6px !important;
}
.items-icon-cont{
	padding: 40px 20px;
}
.item-icon{
	font-size: 60px !important;
	color: #DB5A5D;
}
.margin-label{
	margin-left: 20px !important;
}
.options-icon{
	opacity: .4 !important;
	font-size: 1.1rem !important;
}
.options-icon:hover{
	opacity: 1 !important;
	transition: .3s;
	cursor: pointer;
}
.logo-container{
	text-align: center;
	padding-top: 20%;
}
.small-grey-text{
	color: grey;
	font-size: .9rem;
}
.margin-r-15{
	margin-right: 15px !important;
}
.margin-r-10{
	margin-right: 10px !important;
}
.timestamp-div{
	margin-bottom: 10px !important;
}
.viewcol-group{
	margin-top: 4%;
}
.collection-main{
	position: relative;
}
.opt-btn-cont{
	position: absolute !important;
	top: 10% !important;
	right: .7% !important;
	z-index: 200;
	/*float: right;*/
}
.larger-ellipsis{
	font-size: 1.3rem !important;
	color: #ffd4d4 !important;
}
.larger-ellipsis:hover{
	color: #ffffff !important;
	transition: .3s;
}
.update-btn-cont{
	margin-bottom: 2%; 
}
.no-show{
	display: none;
}
.tracking-row{
	margin-bottom: 17px;
	padding-left: 5%;
}
.semibold{
	font-weight: bold !important;
	color: black;
}
.small-text{
	font-size: .9rem;
}
.smaller-grey-margin{
	font-size: .8rem;
	color: #4e4e4e;
	margin-left: 5px;
	margin-right: 5px;
}
.small-grey-margin{
	font-size: .9rem;
	color: #4e4e4e;
	margin-left: 5px;
	margin-right: 5px;
}
.grey-color{
	color: #4e4e4e;
}
.tags-cont{
	margin-top: 7px;
}
.description-cont{
	margin-top: 3%;
}
.description-body{
	padding-top: 1%;
	padding-left: 3%;
	text-align: justify;
}
.tag-design{
	margin-right: 15px !important!;
	color: grey !important;
}
.remark-content{
	padding-left: 2%;
	text-align: justify;
}
.remarks-container{
	padding: 3% !important;
}
.date-tracking{
	margin-bottom: 10px;
}
.trackings-group{
	margin-bottom: 2%;
}
.code-content{
	padding: 3% !important;
	text-align: center !important;
}
.hidden-field{
	display: none !important;
}
.file-cont{
	position: relative !important;
}
.options-dropdown{
	position: absolute !important;
	top: 4%;
	left: 5%;
}
.tools-div{
	margin-top: 2% !important; 
}
.label-mg-right{
	margin-right: 10px; 
}
.label-mg-left{
	margin-left: 15px;
}
.send-rcv-btns{
	z-index: 50 !important;
}
#documents-grid{
	position: relative;
}
#mask{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #ffffff;
	opacity: .9;
	z-index: 200;
	display: none;
}
.show{
	display: block;
}
.receiver-info, .sender-info{
	margin-top: 1%;
}
.sent-to, .received-from{
	margin-right: 5px;
}
.fullname-link{
	font-weight: 600;
	color: #242424;
}
.fullname-link:hover{
	transition: .3s !important;
	color: #ff3838;
}
.title-collection{
	color: inherit;
	font-size: 1.2rem !important;
	font-weight: 600;
}
.title-collection:hover{
	color: inherit !important;
	text-decoration: underline;
}
.title-coll-notif{
	color: inherit;
	font-size: 1.1rem !important;
	font-weight: 600;
}
.title-coll-notif:hover{
	color: inherit !important;
	text-decoration: underline;
}
.status-label{
	margin-right: 15px !important;
}
.mg-bottom-12{
	margin-bottom: 12px;
}
.padding-5{
	padding: 5px;
}
.coll-item{
	position: relative !important;
}
.collect-item{
	position: relative !important;
}
.options-dropdown-coll{
	position: absolute !important;
	top: -15%;
	left: 40%;
}
.coll-items-cont{
	padding: 0 !important;
}
.hidden{
	display: none;
}
.table-icon{
	font-size: 1.4rem !important;
}
.stats-group{
	padding: 1% 9% 2% 9%;
}
.stat-card{
	text-align: center !important;
	padding-top: 2% !important;
	padding-bottom: 2% !important; 
}
.members-acts-cont{
	padding: 2%;
}
.stats-group{
	margin-top: 2%;
}
.stat-label{
	margin-top: 10px !important;
}
.error-msg{
	font-size: .85rem;
	color: red;
	margin-left: 10px;
	margin-top: 5px;
}
.status-msg{
	font-size: .85rem;
	color: gray;
	margin-left: 10px;
	margin-top: 5px;
}
.success-msg{
	font-size: .85rem;
	color: green;
	margin-left: 10px;
	margin-top: 5px;
}
.charts{
	text-align: center;
}
.table-cont{
	margin-top: 3%;
}
.remove-member-icon{
	color: gray !important;
}
.remove-member-icon:hover{
	color: #000000;
	cursor: pointer;
	transition: .3s;
}
.group-member-row{
	padding: 0 !important;
}
.search-content-dashboard{
	padding: 2% 2% 0% 2%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
	#sidebar-app{
		display: none;
	}
	.app-content{
		padding-left: 1.5%;
	}
}
.dashboard-icon{
	font-size: 4.0rem !important;
	color: #DC143C;
}
.dashboard-icon-cont{
	text-align: center !important;
	padding: 3% !important;
}
.date-grey{
	color: #858585 !important;
}
.bordered-column{
	border-left: 3px solid gray !important;
}
.custom-row{
	height: 150px !important;
	vertical-align: middle;
	position: relative !important;
	padding: 0px !important;
}
.custom-column{
	text-align: center;
	padding-top: 5% !important;
	padding-left: 4% !important;
}
.circle-tracking{
	position: absolute;
	top: 32%;
	left: 47.8%;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: gray;
	border-style: solid;
	border-width: 6px 6px 6px 6px;
	border-color: #ffffff;
	z-index: 100;
}
.tracking-grid{
	padding-bottom: 2% !important;
	padding-top: 2% !important;
}
.margin-top-10{
	margin-top: 10px;
}
.margin-top-20{
	margin-top: 20px !important;
}
.file-icon{
	font-size: 1.4rem !important;
	color: #DB5A5D;
}
.file-upload-form{
	padding-top: 4%;
	padding-left: 5%;
	padding-bottom: 9%;
	padding-right: 2%;
}

.pagination{
	margin-top: 5%;
}
.notification{
	background-color: rgb(230,230,230) !important;
}
.seemore{
	text-align: center;
}
.showing{
	float: right;
	font-size: 1.1rem;
	font-weight: 600;
}
#receiveAddOutsiderCont, #sendAddOutsiderCont{
	padding: 5%;
}
.new-out{
	font-size: 0.8rem;
	margin-left: 10px;
}

.top-coll-details-segment{
	padding-top: 6% !important;
}
.coll-title-view{
	color: #ffffff !important;
}
.time-diff-notif{
	font-size: 0.85rem;
	margin-left: 5px;
	color: #959595;
}
.remark-content-notif{
	margin-left: 15px;
}
.small-white-text{
	color: #FFF2F2;
	font-size: .8rem;
}
.empty-backgrounds{
	text-align: center;
}
.big{
	font-size: 1.125rem;
}
.marginalized{
	margin-top: 10px;
	margin-bottom: 10px;
}
.bg-cont-relative{
	position: relative !important;
}
.background-drpdwn{
	position: absolute !important;
	right: 3%;
	top: 10%;
	z-index: 200;
}
.add-bg-btn{
	position: absolute !important;
	right: 2%;
	top: 22%;
}
.floating-image{
	position: absolute;
	top: 1.5%;
	right: 5%;
	z-index: 500;
}
.prof-image{
	height: 37px;
	width: 37px;
}
#bar-icon-sb{
	position: absolute;
	top: 2%;
	left: 6%;
	color: #FFCECE;
}
#bar-icon-sb:hover{
	transition: .3s;
	color: #FFEEEE;
	cursor: pointer;
}
.recycle-bin-opt{
	position: absolute;
	right: 2%;
	top: 10%;
}
#addnewgroup-btn{
	border-radius: 30px !important;
}
.group-cards-cont{
	margin-top: 3% !important;
}
.tracking-time{
	padding-top: 10px; 
}
@import url(https://fonts.googleapis.com/css?family=Nunito);/*!