.group-cover{
	background-image: url('{{ asset($group->group->cover) }}');
	background-size: cover;
	height: 175px;
	width: 100%;
	padding: 2%;
	position: relative;
	z-index: -2;
}
.overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(120deg, #B61519 0%, #f57175 100%);
    opacity: .8;
}
.app-content{
	padding-left: 21%;
	padding-right: 0;
	padding-top: 0;
}
.group-details{
	z-index: 3;
	color: #ffffff !important;
}
.group-container{
	padding: 1%;
}