.printme { display:none;}
@media print {
  .noprint {display:none;}
  .printme {display:block;}
}

h4{	
	font-style: 14,Lato,bold;
}
body{
	font-family: "Lato", sans-serif;
}

.card-header{
	background-color: rgb(212,31,36);
	color:rgb(236,236,236);
	font-style: 14,Lato,bold;
}
#firstname{
	width: 300px;
	margin-right: 30px;
	padding-right: 10px;
	margin-bottom: 10px;
}
#lastname{
	width: 300px;
	margin-right: 30px;
	padding-right: 10px;
	margin-bottom: 10px;
}
#middlename{
	width: 300px;
	margin-right: 30px;
	padding-right: 10px;
	margin-bottom: 10px;
}
#civil_status{
	width: 100px;
	margin-left: 30px;

}
#sex{
	width: 100px;
	margin-left: 30px;
	padding-right: 10px;
	margin-bottom: 10px;
}
#username{
	width: 300px;
	margin-right: 30px;
	padding-right: 10px;

	margin-bottom: 10px;
}
#email{
	width: 300px;
	margin-right: 30px;
	padding-right: : 10px;
	margin-bottom: 10px;
}
#mobile_num{
	padding-right: 10px;
	margin-bottom: 10px;
}
#telephone_num{
	margin-left: 30px;
	padding-right: 10px;
	margin-bottom: 10px;
}
#division{
	margin-left: 30px;
	padding-right: 10px;
	margin-bottom: 10px;
}
#designation{
	margin-left: 30px;
	padding-right: 10px;
	margin-bottom: 10px;
}
#userpass{
	margin-left: 150px;
	padding-right: 10px;
	margin-bottom: 10px;
}
#userlogin{
	margin-left: 150px;
	margin-top: 30px;
	padding-right: 10px;
	margin-bottom: 10px;
}

/*MANAGE PERSONNEL ICONS*/

.fa-user-edit, .fa-trash, #fullname, .fa-edit, .fa-eye {
	color: gray;
	font-family: "Lato", sans-serif;
}

.fa-user-edit:hover, .fa-trash:hover, #fullname:hover, .fa-edit:hover, .fa-eye:hover {
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.credField {
	float: right; 
	margin-right: 0;
}

.forDeleteModal {
	margin-left: 20px;
}


/*EDIT PERSONNEL FORM*/

.backBtn {
	float: right; 
	margin-right: 1%;
}

#saveEditBtn, .addBtn {
	float: right;
	margin-right: 2%;
	margin-bottom: 3%;
}

/*DISPLAY PROFILE INFORMATION*/

.modalHead {
	background-color: black;
}

#personnelSort {
	float: right;
}

#credentialsSort {
	margin: -2% 0 3% 80%;
}

#modal_title {
	margin-left: 2%;
}

.label_name {
	font-weight: bold;
}

/*VIEW PERSONNEL HEADER*/

#frame {
	padding-bottom: 2%;
}

.image-upload>input {
  display: none;
}

/*CREDENTIALS TAB*/

#add_cred {
	margin: 4%;
	color: lightgray;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}

#add_cred:hover {
	color: darkgray;
}

.categ_label {
	margin-left: 2%;
	color: gray;
	font-weight: lighter;
}

#date_updated, #updater_col, #date_updated_view {
	color: gray;
	font-weight: lighter;
	padding-top: 5px;
}

#date_updated_view {
	padding-left: 10%;
}

#categ_label {
	margin-right: 0;
}

#updater_label {
	margin-left: 2%;
	font-weight: bold;
	color: black;
}

#updater_label:hover {
	color: gray;
}

#cred_btn_grp {
	padding-top: 1%;
}

.view_cred, .edit_cred, .delete_cred {
	padding-right: 3%;
}

.cred_title_view {
	font-weight: bold;
	font-size: 19px;
	margin-left: 1%;
}

#third  {
	margin-left: 1.5%;
	color: gray;
	font-weight: lighter;
}

#second, #first {
	margin-left: 1%;
}

.updater_firstname, .updater_surname {
	font-weight: bold;
}

#second_row, #second, #third, #fourth {
	margin-top: 0;
	padding-top: 0;
}

#fourth {
	margin-left: 1.5%;
	color: black;	
}

#form_cred_container {
	margin: 3%;
}

.doc-header {
	font-style: 14, Lato;
	text-decoration: none;
}

.doc-icons {
	margin-left: 22%;
}

.delete-doc {
	text-align: right;
	color: gray;
}

.delete-doc:hover {
	color: black;
}


.back_btn {
	float:right; 
	margin-right: 0;
}

#credDocsCont {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
}

.hide-show {
	margin-top: 2.2%; 
	margin-right: 7px;
}

h4 {
 	margin-bottom: 0;
}

.add_cred {
	margin-left: 5%;
}

#add-doc-btn-label {
	cursor: pointer;
	border: 2px red;
	background-color: red;
}

#add-doc-btn {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

#fifth {
	float: right;
}

#send_doc_btn {
	margin-top: 3%;
	float: right;
}

.doc_title, .add_doc {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	cursor: pointer;
}

.doc_title:hover {
	overflow: visible;
}


.add_doc:hover {
	color: black;
	text-decoration: underline;
}

.plus-doc {
	position: relative;
	left: 3%;
}

/*.dynamicDoc{
	position: relative !important;
}*/
.doc-side-option {
	position: absolute !important;
	right: 3%;
	top: 3%;
	z-index: 200;

}

.sortBy {
	font-weight: normal;
	font-size: 14px;
}

.contract-banner {
	color: black;
}

.notif-banner {
	background:yellow;
}

#renameDocBtn {
	margin-top: 5%;
	float: right;
}

#rename-success {
	color: red;
	font-weight: bold;
}

.hide-show-btn {
	margin-top: 23px;
	margin-right: 7px
}

#contractAlertBtn {
	left: -15px;
}

#addDocBtn {
	margin-left: 91%;
}

#count_files {
	margin-left: -5px;
}

.charts {
	display: block;
	position: relative;
	margin-left: 18%;
	margin-right: 17%;
   
}

#search-cred {
	float: right;
	margin-top: 5%;
	margin-bottom: 2%;
}

#search-box {
	width: 300px;
}

.dp {
	margin-top: 2%;
}

#users-grid {
	font-size: 16px;
}

.user-opt {
	position: absolute;
	display: inline;
	left: 10%;
}

#search_person {
	margin-top: 1%;
	margin-bottom: 5%;
}

#point_container {
	border-left: solid 1px lightgrey;
	border-right: solid 1px lightgrey;
}

#point_container, #cred_points {
	text-align: center;
}

#point_stat {
	margin-top: 5%;
}

#cred_breakdown {
	margin-top: 10%;
}

#resumeBtn {
	margin-left: 2%;
	margin-top: 5%;
}

.descriptionInput {
	overflow-wrap: break-word;
}

#credential_points {
	margin-left: 12px;
}

#alert_contract_msg {
	color: red;
	font-weight: bold;
}

#contract_segment {
	min-width: 450px;
}

#search_sort_grp {
	margin-top: 2%;
	margin-bottom: 3%;
}

#not_allowed_msg {
	font-size: 20px;
	text-align: center;	
}

#total_label {
	margin-right: 20px;
}

#deleteDocGrp {
	float: right;
}

#verifyBtn {
	margin-top: 2%;
	float:right;
	margin: 5%;

}